[submodule "sensor_drivers/imu"]
	path = sensor_drivers/imu
	url = https://github.com/ros-drivers/phidgets_drivers.git
	branch = humble
[submodule "sensor_drivers/rplidar"]
	path = sensor_drivers/rplidar
	url = https://github.com/Slamtec/rplidar_ros.git
	branch = ros2
[submodule "sensor_drivers/navsat"]
	path = sensor_drivers/navsat
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
	branch = ros2
[submodule "misc/twist_mux"]
	path = misc/twist_mux
	url = https://github.com/EshanSankar/twist_mux.git
	branch = humble
[submodule "misc/ds4_driver"]
	path = misc/ds4_driver
	url = https://github.com/naoki-mizuno/ds4_driver.git
	branch = humble-devel
# git submodule update --init --recursive
[submodule "sensor_drivers/zed_open_source"]
	path = sensor_drivers/zed_open_source
	url = https://github.com/stereolabs/zed-open-capture
	branch = master
